PORT=
NODE_ENV=

REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_PASSWORD= 
REDIS_USERNAME= 

DB_HOST=
DB_LOGIN=
DB_PASSWORD= 
DB_PORT= 
DB_NAME=
POOL_SIZE=

JWT_SECRET=
JWT_EXPIRE=
JWT_REFRESH_EXPIRE=

# RPCs ----------
SEPOLIA_RPC=
BSC_RPC=
AMOY_RPC=
ARBITRUM_RPC=
FANTOM_RPC=
AVALANCHE_RPC=
OPTMISM_RPC=
LINEA_RPC=
BASE_RPC=
CELO_RPC=
BLAST_RPC=
AURORA_RPC=
SCROLL_RPC=
MOONBASE_RPC=
# ---------------

GAME_CONTACT_PRIVATE_KEY=
DOPPLER_KEY=
ORIGIN_URL=
TYPEORM_MIGRATIONS_TABLE_NAME=
TTS_KEY=